.head{
    cursor: pointer;
}
.head .logo img{
    width: 500px;
}
header{
    background-color: #000;
    color: #fff;
}
header li{
    margin-right: 30px;
    transition: 0.5s;
}
header li a:hover{
    color: crimson;
    cursor: pointer;
}
header li a{
    transition: 0.5s;
    color: #fff;
}
.barIco{
    font-size: 25px;
    background: none;
    color: #fff;
    display: none;
    border: none;
}
@media screen and (max-width:768) {
    .head .ad{
        display: none;
    }
    header .Icon{
        display: none;
  
    }
    .barIco{
        display: block;
    }
}